.app {
  background: #e3e3ee !important;
}

/* Adjustments */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 20px;
}
.container {
  padding: 0 20px 0 20px;
}
.container-1 {
  @extend .container;
  margin-top: 80px;
}
.container-2 {
  @extend .container;
  padding: 20px 20px 20px 20px;
}
.v-toolbar__content,
.v-toolbar {
  padding: 0 20px 0 20px;
  height: 60px !important;
}
.v-text-field {
  padding-top: 0;
}
.v-toolbar__content,
.v-card {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-bottom: 0;
  }
}
.v-input {
  margin: 0 0 10px 0;
}
.v-btn {
  margin: 0 0 10px 0;
}
.v-snack__wrapper {
  width: 100%;
  max-width: none;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.v-snack__content {
  padding: 10px;
  height: 60px;
  justify-content: center;
  h3 {
    margin-bottom: 0;
    @media (max-width: 500px) {
      font-size: 16px;
    }
  }
}
.container.profile-container .layout .flex {
  padding: 0 10px 20px 10px;
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-bottom: 0;
  }
}
.container.grid-list-xl .layout .flex {
  padding: 0 10px 20px 10px;
}
.show-more-button {
  margin: 0 !important;
}

/* Transition Hooks */
.fade-enter-active,
.fade-leave-active {
  transition-property: opacity;
  transition-duration: 0.25s;
}
.fade-enter-active {
  transition-delay: 0.25s;
}
.fade-enter,
.fade-leave-active {
  opacity: 0;
}

/* Animations */
.bounce {
  animation: bounce 1s both;
}
@keyframes bounce {
  0%,
  20%,
  53%,
  80%,
  100% {
    transform: translate3d(0, 0, 0);
  }
  40%,
  43% {
    transform: translate3d(0, -20px, 0);
  }
  70% {
    transform: translate3d(0, -10px, 0);
  }
  90% {
    transform: translate3d(0, -4px, 0);
  }
}
