<template>
    <v-container class="container-1" text-xs-center>

        <!-- Signup Title -->
        <v-layout row wrap>
            <v-flex xs12 sm6 offset-sm3>
                <h1>Get Started Here!</h1>
            </v-flex>
        </v-layout>

        <!-- Error Alert -->
        <v-layout v-if="error" row wrap>
            <v-flex xs12 sm6 offset-sm-3>
                <form-alert :message="error.message"></form-alert>
            </v-flex>
        </v-layout>

        <!-- Signup Form -->
        <v-layout row wrap>
            <v-flex xs12 sm6 offset-sm3>
                <v-card color="accent" dark>
                    <v-container class="container-2">
                        <v-form v-model="isFormValid" lazy-validation ref="form" @submit.prevent="handleSignupUser">

                            <v-layout row>
                                <v-flex xs12>
                                    <v-text-field :rules="usernameRules" v-model="username" prepend-icon="face" label="Username" type="text" required></v-text-field>
                                </v-flex>
                            </v-layout>

                            <v-layout row>
                                <v-flex xs12>
                                    <v-text-field :rules="emailRules" v-model="email" prepend-icon="email" label="Email" type="email" required></v-text-field>
                                </v-flex>
                            </v-layout>

                            <v-layout row>
                                <v-flex xs12>
                                    <v-text-field :rules="passwordRules" v-model="password" prepend-icon="lock" label="Password" type="password" required></v-text-field>
                                </v-flex>
                            </v-layout>

                            <v-layout row>
                                <v-flex xs12>
                                    <v-text-field :rules="passwordRules" v-model="passwordConfirmation" prepend-icon="gavel" label="Confirm Password" type="password" required></v-text-field>
                                </v-flex>
                            </v-layout>

                            <v-layout row>
                                <v-flex xs12>
                                    <v-btn :loading="loading" :disabled="!isFormValid || loading" color="info" type="submit">
                                        <span slot="loader" class="custom-loader">
                                            <v-icon light>cached</v-icon>
                                        </span>
                                        Sign Up
                                    </v-btn>
                                    <h3>Already have an account?
                                        <router-link to="/signin">Sign In</router-link>
                                    </h3>
                                </v-flex>
                            </v-layout>

                        </v-form>
                    </v-container>
                </v-card>
            </v-flex>
        </v-layout>

    </v-container>
</template>

<script>
import { mapGetters } from "vuex";

export default {
  name: "Signup",
  data() {
    return {
      isFormValid: true,
      username: "",
      email: "",
      password: "",
      passwordConfirmation: "",
      usernameRules: [
        // Check if username exists in input.
        username => !!username || "Username is required!",
        // Username must be less than 10 characters.
        username =>
          username.length < 10 || "Username must be less than 10 characters!"
      ],
      emailRules: [
        // Check if email exists in input.
        email => !!email || "Email is required!",
        email => /.@+./.test(email) || "Email must be valid!"
      ],
      passwordRules: [
        password => !!password || "Password is required!",
        // Password must be at least 4 characters.
        password =>
          password.length >= 4 || "Password must be at least 4 characters!",
        confirmation =>
          confirmation === this.password || "Passwords must match!"
      ]
    };
  },
  watch: {
    user(value) {
      // If user value changes, redirect to the home page.
      if (value) {
        this.$router.push("/");
      }
    }
  },
  computed: {
    ...mapGetters(["loading", "error", "user"])
  },
  methods: {
    // Sign Up user action.
    handleSignupUser() {
      if (this.$refs.form.validate()) {
        this.$store.dispatch("signupUser", {
          username: this.username,
          email: this.email,
          password: this.password
        });
      }
    }
  }
};
</script>

