<template>
    <v-container class="container-1" text-xs-center>

        <!-- Add Post Title -->
        <v-layout row wrap>
            <v-flex xs12 sm6 offset-sm3>
                <h1>Add Post</h1>
            </v-flex>
        </v-layout>

        <!-- Add Post Form -->
        <v-layout row wrap>
            <v-flex xs12 sm6 offset-sm3>
                <v-form v-model="isFormValid" lazy-validation ref="form" @submit.prevent="handleAddPost">

                    <!-- Title Input -->
                    <v-layout row>
                        <v-flex xs12>
                            <v-text-field :rules="titleRules" v-model="title" label="Post Title" type="text" required></v-text-field>
                        </v-flex>
                    </v-layout>

                    <!-- Image Url Input -->
                    <v-layout row>
                        <v-flex xs12>
                            <v-text-field :rules="imageRules" v-model="imageUrl" label="Image Url" type="text" required></v-text-field>
                        </v-flex>
                    </v-layout>

                    <!-- Image Preview -->
                    <v-layout row>
                        <v-flex xs12>
                            <img :src="imageUrl" height="150px">
                        </v-flex>
                    </v-layout>

                    <!-- Categories Selection -->
                    <v-layout row>
                        <v-flex xs12>
                            <v-select :rules="categoriesRules" v-model="categories" :items="['Art', 'Education', 'Food', 'Furniture', 'Travel', 'Photography', 'Technology']" multiple label="Categories"></v-select>
                        </v-flex>
                    </v-layout>

                    <!-- Description -->
                    <v-layout row>
                        <v-flex xs12>
                            <v-textarea :rules="descRules" v-model="description" label="Description" type="text" required></v-textarea>
                        </v-flex>
                    </v-layout>

                    <v-layout row>
                        <v-flex xs12>
                            <v-btn :loading="loading" :disabled="!isFormValid || loading" color="info" type="submit">
                                <span slot="loader" class="custom-loader">
                                    <v-icon light>cached</v-icon>
                                </span>
                                Submit
                            </v-btn>
                        </v-flex>
                    </v-layout>

                </v-form>
            </v-flex>
        </v-layout>

    </v-container>
</template>

<script>
import { mapGetters } from "vuex";

export default {
  name: "AddPost",
  data() {
    return {
      isFormValid: true,
      title: "",
      imageUrl: "",
      categories: [],
      description: "",
      titleRules: [
        title => !!title || "Title is required!",
        title => title.length < 20 || "Title must have less than 20 characters!"
      ],
      imageRules: [image => !!image || "Image is required!"],
      categoriesRules: [
        categories =>
          categories.length >= 1 || "Must have at least one category!"
      ],
      descRules: [
        desc => desc.length >= 1 || "Must have a description!",
        desc =>
          desc.length < 200 || "Description must have less than 200 characters!"
      ]
    };
  },
  computed: {
    ...mapGetters(["loading", "user"])
  },
  methods: {
    // Add Post Action.
    handleAddPost() {
      if (this.$refs.form.validate()) {
        this.$store.dispatch("addPost", {
          title: this.title,
          imageUrl: this.imageUrl,
          categories: this.categories,
          description: this.description,
          creatorId: this.user._id
        });
        this.$router.push("/");
      }
    }
  }
};
</script>

